.form__step__info {
  height: 8rem;
  background-color: $decoration-light-color;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: "Open sans";
}

.form__step__info__title {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.form__step__content {
  height: calc(100vh - 2rem);
  background-image: url(../../assets/Background-Form.jpg);
  background-size: cover;
  background-position: center;
  font-size: 1.25rem;
  font-weight: 300;
  position: relative;
}

.form__step__content__wrapper {
  padding: 2rem 3rem;
}

.form__step__content__title {
  font-weight: 600;
  padding: 1.5rem 0;
}

.form__step__content__title-step-3 {
  margin-top: 1.5rem;
  font-weight: 600;
}

.form__step__content__radio {
  display: block;
  padding-bottom: 2rem;
}

.form__step__content__radio__input {
  opacity: 0;
  position: absolute;
}

.form__step__content__radio__control {
  position: relative;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  color: #017b5f;
  vertical-align: middle;
  background-color: inherit;
  border: 0.0825rem solid $font-color-light;
}

.form__step__content__radio__input:checked
  + .form__step__content__radio__control::after {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: $decoration-light-color;
}

.form__step__btn {
  background-color: transparent;
  border: 0.05rem solid $font-color-dark;
  font-family: "Open sans";
  font-weight: 300;
  font-size: 1rem;
  width: 7rem;
  height: 3rem;
  margin-right: 2rem;
  position: absolute;
}

.form__step__btn-next {
  top: 85%;
  left: 12rem;
}

.form__step__btn-back {
  top: 85%;
  left: 3rem;
}

.form__step__content__select__wrapper {
  display: flex;
}

.form__step__content__label {
  margin-right: 1rem;
  line-height: 2rem;
}

.form__step__content__select-step-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form__step__content__select__input {
  width: 15rem;
  height: 2rem;
  border: 0.05rem solid $font-color-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
}

.form__step__content__select__input div {
  margin-left: 1rem;
}

.form__step__content__select__arrow {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.form__step__content__select__arrow-up {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../../assets/Icon-Arrow-Up.svg);
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: -0.5rem;
}

.form__step__content__select__arrow-down {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../../assets/Icon-Arrow-Down.svg);
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: -0.5rem;
}

.form__step__content__select__drop-down-list-step-2, .form__step__content__select__drop-down-list-step-3 {
  border: 0.05rem solid $font-color-dark;
  font-family: "Open sans";
  font-weight: 300;
  background-color: #ebeae8;
}

.form__step__content__select__drop-down-list-step-2 {
  text-align: center;
  width: 5rem;
}

.form__step__content__select__drop-down-list-step-3 {
  width: 15rem;
  position: absolute;
  z-index: 1;
}

.form__step__content__select__drop-down-list__item-step-2, .form__step__content__select__drop-down-list__item-step-3 {
  margin: 0.25rem 0;
  cursor: pointer;
}

.form__step__content__select__drop-down-list__item-step-3 {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.form__step__content__checkboxes {
  width: 30rem;
  margin-bottom: 2rem;
}

.form__step__content__checkbox {
  display: inline;
}

.form__step__content__checkbox span {
  display: inline-block;
  border: 0.05rem solid $font-color-dark;
  padding: 0.5rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.hidden {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.form__step__content__checkbox input:checked + span {
  background-color: $decoration-light-color;
}

.form__step__error {
  color: $error-msg;
  font-size: 0.75rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

.form__step__content__input {
  background-color: transparent;
  border: 0.05rem solid $font-color-dark;
  height: 2rem;
  width: 30rem;
  margin-top: 1rem;
}

.form__step__content__flex {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.form__step__content__address,
.form__step__content__time {
  width: 47.5%;
}

.form__step__content__address div,
.form__step__content__time div {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.form__step__content__address__title,
.form__step__content__time__title {
  font-weight: 600;
  margin-bottom: 1rem;
}

.form__step__content__address__input,
.form__step__content__time__input {
  background-color: transparent;
  border: 0.05rem solid $font-color-dark;
  width: 50%;
  height: 1.5rem;
  font-family: "Open sans";
}

.form__step__content__textarea {
  background-color: transparent;
  border: 0.05rem solid $font-color-dark;
  width: 50%;
  font-family: "Open sans";
}

.form__step__content__summary__title {
  font-weight: 600;
  margin: 1rem 0;
}

.form__step__content__summary__row-icons {
  display: flex;
  align-items: center;
}

.form__step__content__summary__icons {
  height: 3rem;
  margin-right: 1rem;
}

.form__step__content__summary__rows-address-and-time {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.form__step__content__summary__row-address,
.form__step__content__summary__row-time {
  width: 40%;
}

.form__step__content__summary__row-address__row,
.form__step__content__summary__row-time__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.form__step__content__thank-you {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
}

.form__step__content__thank-you__title {
  margin-bottom: 2rem;
}
