.form__step__info {
  height: 8rem;
  background-color: $decoration-light-color;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: "Open sans";
}

.form__step__info__title {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.form__step__content {
  height: 100vh;
  background-image: url(../../assets/Background-Form.jpg);
  background-size: cover;
  background-position: right;
  font-size: 1.25rem;
  font-weight: 300;
  position: relative;
}

.form__step__content__wrapper {
  padding: 2rem 3rem;
}

.form__step__content__title {
  font-weight: 600;
  padding: 2rem 0;
}

.form__step__content__title-step-3 {
  font-weight: 600;
}

.form__step__content__radio {
  display: block;
  padding-bottom: 2rem;
}

.form__step__content__radio__input {
    opacity: 0;
    position: absolute;
}

.form__step__content__radio__control {
    position: relative;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    color: #017b5f;
    vertical-align: middle;
    background-color: inherit;
    border: 0.0825rem solid $font-color-light;
}

.form__step__content__radio__input:checked+.form__step__content__radio__control::after {
    content: "";
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: $decoration-light-color;
}

.form__step__btn {
  background-color: transparent;
  border: 0.05rem solid $font-color-dark;
  font-family: "Open sans";
  font-weight: 300;
  font-size: 1rem;
  width: 7rem;
  height: 3rem;
  margin-right: 2rem;
  position: absolute;
}

.form__step__btn-next {
    top: 85%;
    left: 12rem;
}

.form__step__btn-back {
    top: 85%;
    left: 3rem;
}

.form__step__content__label {
  margin-right: 1rem;
}

.form__step__content__select {
    background: transparent;
    font-family: "Open sans";
    font-size: 1rem;
    font-weight: 300;
    width: 15rem;
    height: 3rem;
    margin-bottom: 2rem;
}

.form__step__content__checkboxes {
    margin: 2rem 0;
} 

.form__step__content__checkboxes__row {
  display: flex;
    margin-bottom: 2rem;
}

.form__step__content__checkbox span {
    border: 0.05rem solid $font-color-dark;
    padding: 0.5rem;
    margin-right: 1rem;
}

.hidden {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.form__step__content__checkbox input:checked + span {
  background-color: $decoration-light-color;
}

.form__step__error {
    color: $error-msg;
    font-size: 0.75rem;
    font-weight: 600;
    margin-top: 1.5rem;
}

.form__step__content__input {
  background-color: transparent;
  border: 0.05rem solid $font-color-dark;
  height: 2rem;
  width: 30rem;
  margin-top: 1rem;
}

.form__step__content__flex {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.form__step__content__address, .form__step__content__time {
    width: 47.5%;
}

.form__step__content__address div,.form__step__content__time div {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.form__step__content__address__title, .form__step__content__time__title {
    font-weight: 600;
    margin-bottom: 1rem;
}

.form__step__content__address__input, .form__step__content__time__input {
    background-color: transparent;
    border: 0.05rem solid $font-color-dark;
    width: 50%;
    height: 1.5rem;
    font-family: "Open sans";
}

.form__step__content__textarea {
    background-color: transparent;
    border: 0.05rem solid $font-color-dark;
    width: 50%;
    font-family: "Open sans";
}

.form__step__content__summary__title {
  font-weight: 600;
  margin: 1rem 0;
}

.form__step__content__summary__row-icons {
  display: flex;
  align-items: center;
}

.form__step__content__summary__icons {
  height: 3rem;
  margin-right: 1rem;
}

.form__step__content__summary__rows-address-and-time {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.form__step__content__summary__row-address, .form__step__content__summary__row-time {
  width: 40%;
}

.form__step__content__summary__row-address__row, .form__step__content__summary__row-time__row  {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.form__step__content__thank-you {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
}

.form__step__content__thank-you__title {
  margin-bottom: 2rem;
}






