.form__step__info {
    height: 8rem;
    background-color: $decoration-light-color;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: "Open sans";
}

.form__step__info__title {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.form__step__content {
    height: 100vh;
    background-image: url(../../assets/Background-Form.jpg);
    background-size: cover;
    background-position: right;
}

.form__step__content__wrapper {
    padding: 3rem 3rem;    
}

.form__step__content__step {
    font-weight: 300;
}

.form__step__content__title {
    font-weight: 600;
    padding: 2rem 0;
}

.form__step__content__checkboxes, .form__step__content__label {
    font-weight: 300;
    font-size: 1.25rem;
}

.form__step__content__checkbox {
    display: block;
    padding-bottom: 2rem;
}

.form__step__btns {
    padding: 0 3rem;
}

.form__step__btn {
    background-color: transparent;
    border: 0.05rem solid $font-color-dark;
    font-family: "Open sans";
    font-weight: 300;
    font-size: 1rem;
    width: 7rem;
    height: 3rem;
    margin-right: 2rem;
}

.form__step__content__select {
    background: transparent;
    font-family: "Open sans";
    font-size: 1rem;
    font-weight: 300;
    width: 15rem;
    height: 3rem;
}
